<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Rock, Paper, Scissors</title>
</head>

<body id="grid-container">
    <header>
        <h1>Rock, Paper, Scissors</h1>
    </header>
        <section id="left-sidebar">

        </section>
        <main>
        <article id="main-content">
            {% block content  %}

            {% endblock  %}
        </article>    
    </main>
    <section id=right-sidebar>

    </section>
    <footer>
        Copyright Iain Radcliffe
    </footer>
</body>

</html>