{% extends "base.html" %}
{% block content %}

<section id="rules">
    <h2>The rules:</h2>
    <p>
        Rock paper scissors is usually played between two people, in which each player simultaneously chooses:</p>
    <ul>
        <li>Rock</li>
        <li>Paper, or</li>
        <li>Scissors</li>
    </ul>
    <h3>Possible results:</h3>
    <ul>
        <li>Rock crushes scissors</li>
        <li>Paper covers rock</li>
        <li>Scissors cuts paper</li>
    </ul>
    <p>
        If both players choose the same shape, the game is tied and is usually immediately replayed to break the tie.
    </p>
    <button class="rules-button" type="button"><a href="/">Play now</a></button>
</section>
         
{% endblock content %}